fastapi
uvicorn[standard]
python-dotenv
langchain-qdrant
langchain-huggingface
langchain-community
langchain-text-splitters
qdrant-client
sentence-transformers
pypdf
redis
httpx
# switch to new Google SDK
google-genai
