fastapi
uvicorn[standard]
python-dotenv
langchain-qdrant
langchain-huggingface
langchain-community
langchain-text-splitters
qdrant-client
sentence-transformers
pypdf
redis
openai
mem0ai[nlp]
fastembed
neo4j
